.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background: url('./JavaScript_XD/skins/petrol_fl_che_ek1.png') bottom no-repeat fixed;
    /*background-color: #005F6A;*/
}

.greetingMessage {
    font-size: 28pt;
    color: goldenrod;
}

.ProgressBar {
    height: 60px;
    width: 90vw;
    position: relative;
}

.nameDiv {
    position: absolute;
}

.progressLabel {
    color: white;
    font-weight: bold;
}

.SelectTarget {
    align-self: center;
    align-content: center;
    background-color: goldenrod;
    margin-top: 30px;
}

.Slider {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 40px;
    flex-grow: 2;
}

.SavingsList {
    display: flex;
    flex-flow: column;
    align-self: center;
    align-items:center;
    heigth:180px;
    margin-top: auto;
    /*overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;*/
}

.CancelTimer {
    display: none;
    align-self: center;
}

.cancelButton {
    margin-top: 30px;
    font-size: 24pt;
    background-color: steelblue;
    border-color: steelblue;
    border-style: hidden;
}
