body {
  background-color: steelblue;
}
.App {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: steelblue;
}

.greetingMessage {
  font-size: 28pt;
  color: goldenrod;
}

.SelectTarget {
  align-self: center;
  align-content: center;
  background-color: goldenrod;
  margin-top: 30px;
}

.Slider {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-grow: 2;
}

.SavingsList {
  align-self: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  height: 20em;
}

.CancelTimer {
  display: none;
  align-self: center;
}

.cancelButton {
  background-color: goldenrod;
}

.slider {
  background-color: blueviolet;
}
.slider-thumb {
  background-color: gold;
  width: 6rem;
  height: 6rem;
  top: -3rem;
  right: -3rem;
  border-radius: 50%;
  line-height: 6rem;
  /* border: 3px solid black; */
}
.slider-track {
  background-color: black;
  height: 1px;
}
.vertical-slider {
  height: 100%;
  transition-duration: 1s;
}

.slider-container {
  /* background-color: black;
  width: 1px; */
  height: 100%;
  /* flex-grow: 1; */
  margin: 0 auto;
  position: relative;
  top: -3rem;
}

.central-circle {
  height: 8rem;
  width: 8rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: -4rem;
  top: -1rem;
}

.app-header {
  height: 50%;
  background-color: white;
}
.app-footer {
  height: 50%;
}
#popup {
  bottom: -60vh;
  position: fixed;
  transition-duration: 0.3s;
  height: 60vh;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

#category-selector {
  bottom: 0vh;
  position: fixed;
  transition-duration: 0.3s;
  height: 40vh;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

.target {
  flex-grow: 1;
  height: 300px;
}
